USE [master]
GO
/****** Object:  Database [COOP_FOOD]    Script Date: 12/14/2023 10:03:06 PM ******/
CREATE DATABASE [COOP_FOOD]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [COOP_FOOD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [COOP_FOOD]
GO
/****** Object:  Table [CHUCVU]    Script Date: 12/14/2023 10:03:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CHUCVU](
	[MaCV] [int] NOT NULL,
	[TenCV] [nvarchar](100) NOT NULL,
	[Luong] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [CT_HD]    Script Date: 12/14/2023 10:03:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CT_HD](
	[MaHD] [int] NULL,
	[MaSP] [int] NULL,
	[SoLuongBan] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [DONVITINH]    Script Date: 12/14/2023 10:03:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DONVITINH](
	[MaDVT] [int] NOT NULL,
	[TenDV] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDVT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [HD]    Script Date: 12/14/2023 10:03:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HD](
	[MaHD] [int] NOT NULL,
	[MaNV] [int] NOT NULL,
	[MaKH] [int] NULL,
	[NgayMua] [datetime] NOT NULL,
	[TongTien] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [KHACHHANG]    Script Date: 12/14/2023 10:03:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [KHACHHANG](
	[MaKH] [int] NOT NULL,
	[TenKH] [nvarchar](200) NOT NULL,
	[GioiTinh] [nvarchar](5) NOT NULL,
	[NgaySinh] [datetime] NOT NULL,
	[DiaChi] [nvarchar](100) NULL,
	[SDT] [varchar](20) NOT NULL,
	[TichLuy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [LOAISANPHAM]    Script Date: 12/14/2023 10:03:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [LOAISANPHAM](
	[MaLSP] [int] NOT NULL,
	[TenLSP] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [NHACUNGCAP]    Script Date: 12/14/2023 10:03:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [NHACUNGCAP](
	[MaNCC] [int] NOT NULL,
	[TenNCC] [nvarchar](100) NOT NULL,
	[DiaChi] [nvarchar](100) NOT NULL,
	[SDT] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [NHANVIEN]    Script Date: 12/14/2023 10:03:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [NHANVIEN](
	[MaNV] [int] NOT NULL,
	[TenNV] [nvarchar](100) NOT NULL,
	[GioiTinh] [nvarchar](5) NOT NULL,
	[NgaySinh] [datetime] NOT NULL,
	[DiaChi] [nvarchar](100) NOT NULL,
	[CMND] [varchar](50) NULL,
	[Email] [varchar](200) NOT NULL,
	[SDT] [varchar](20) NOT NULL,
	[NgayVaoLam] [datetime] NOT NULL,
	[MucLuong] [money] NOT NULL,
	[MaCV] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [SANPHAM]    Script Date: 12/14/2023 10:03:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SANPHAM](
	[MaSP] [int] NOT NULL,
	[TenSP] [nvarchar](100) NOT NULL,
	[MaDVT] [int] NULL,
	[MaLSP] [int] NOT NULL,
	[MaNCC] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[NSX] [datetime] NOT NULL,
	[HSD] [datetime] NOT NULL,
	[NgayNhap] [datetime] NOT NULL,
	[GiaNhap] [money] NOT NULL,
	[GiaBan] [money] NULL,
	[KhuyetMai] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [TAIKHOAN]    Script Date: 12/14/2023 10:03:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TAIKHOAN](
	[TenDangNhap] [varchar](20) NOT NULL,
	[MatKhau] [varchar](20) NOT NULL,
	[MaNV] [int] NOT NULL,
	[PhanQuyen] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [CHUCVU] ([MaCV], [TenCV], [Luong]) VALUES (101, N'Quản lý', 10000000.0000)
INSERT [CHUCVU] ([MaCV], [TenCV], [Luong]) VALUES (102, N'Tổ trưởng nghành hàng', 8000000.0000)
INSERT [CHUCVU] ([MaCV], [TenCV], [Luong]) VALUES (103, N'Thủ quỷ hành chính', 8000000.0000)
GO
INSERT [CT_HD] ([MaHD], [MaSP], [SoLuongBan]) VALUES (701, 603, 1)
INSERT [CT_HD] ([MaHD], [MaSP], [SoLuongBan]) VALUES (701, 611, 6)
INSERT [CT_HD] ([MaHD], [MaSP], [SoLuongBan]) VALUES (701, 618, 1)
GO
INSERT [DONVITINH] ([MaDVT], [TenDV]) VALUES (901, N'gr')
INSERT [DONVITINH] ([MaDVT], [TenDV]) VALUES (902, N'kg')
INSERT [DONVITINH] ([MaDVT], [TenDV]) VALUES (903, N'chai')
GO
INSERT [HD] ([MaHD], [MaNV], [MaKH], [NgayMua], [TongTien]) VALUES (701, 204, 301, CAST(N'2022-01-03T08:00:00.000' AS DateTime), NULL)
INSERT [HD] ([MaHD], [MaNV], [MaKH], [NgayMua], [TongTien]) VALUES (702, 205, 302, CAST(N'2022-01-03T08:30:00.000' AS DateTime), NULL)
GO
INSERT [KHACHHANG] ([MaKH], [TenKH], [GioiTinh], [NgaySinh], [DiaChi], [SDT], [TichLuy]) VALUES (301, N'Võ Hoài Linh', N'Nam', CAST(N'1970-12-23T00:00:00.000' AS DateTime), N'Quãng Ngãi', N'347359124', NULL)
INSERT [KHACHHANG] ([MaKH], [TenKH], [GioiTinh], [NgaySinh], [DiaChi], [SDT], [TichLuy]) VALUES (302, N'Đàm Vĩnh Hưng', N'Nam', CAST(N'1997-06-19T00:00:00.000' AS DateTime), N'Tp Hải Phòng', N'311223335', NULL)
GO
INSERT [LOAISANPHAM] ([MaLSP], [TenLSP]) VALUES (501, N'Rau củ quả')
INSERT [LOAISANPHAM] ([MaLSP], [TenLSP]) VALUES (502, N'Trái cây')
INSERT [LOAISANPHAM] ([MaLSP], [TenLSP]) VALUES (503, N'Thịt')
GO
INSERT [NHACUNGCAP] ([MaNCC], [TenNCC], [DiaChi], [SDT]) VALUES (401, N'Công Ty Thực Phẩm Đồng Xanh', N'Tp.Hồ Chí Minh', N'936685268')
INSERT [NHACUNGCAP] ([MaNCC], [TenNCC], [DiaChi], [SDT]) VALUES (402, N'Công Ty Thực Phẩm Thành Công ', N'Tp.Hồ Chí Minh', N'989464878')
INSERT [NHACUNGCAP] ([MaNCC], [TenNCC], [DiaChi], [SDT]) VALUES (403, N'Công ty cổ phần Bia - Rượu - Nước giải khát Hà Nội', N'Hà Nội', N'243845843')
GO
INSERT [NHANVIEN] ([MaNV], [TenNV], [GioiTinh], [NgaySinh], [DiaChi], [CMND], [Email], [SDT], [NgayVaoLam], [MucLuong], [MaCV]) VALUES (201, N'Nguyễn Đăng An Ninh', N'Nam', CAST(N'1989-12-20T00:00:00.000' AS DateTime), N'Bình Dương', N'272869013', N'ninhlord@gmail.com', N'322558811', CAST(N'2017-01-01T00:00:00.000' AS DateTime), 15000000.0000, 101)
INSERT [NHANVIEN] ([MaNV], [TenNV], [GioiTinh], [NgaySinh], [DiaChi], [CMND], [Email], [SDT], [NgayVaoLam], [MucLuong], [MaCV]) VALUES (202, N'Nguyễn Phạm Thành Hưng', N'Nữ', CAST(N'1989-05-23T00:00:00.000' AS DateTime), N'Tp.Hồ Chí Minh', N'272849014', N'hungless@gmail.com', N'311224455', CAST(N'2017-02-01T00:00:00.000' AS DateTime), 16000000.0000, 102)
INSERT [NHANVIEN] ([MaNV], [TenNV], [GioiTinh], [NgaySinh], [DiaChi], [CMND], [Email], [SDT], [NgayVaoLam], [MucLuong], [MaCV]) VALUES (203, N'Phan Thị Kim Nhung', N'Nữ', CAST(N'2001-06-26T00:00:00.000' AS DateTime), N'Đồng Nai', N'272859033', N'nhungbaoden@gmail.com', N'339861477', CAST(N'2019-01-01T00:00:00.000' AS DateTime), 17000000.0000, 103)
GO
INSERT [SANPHAM] ([MaSP], [TenSP], [MaDVT], [MaLSP], [MaNCC], [SoLuong], [NSX], [HSD], [NgayNhap], [GiaNhap], [GiaBan], [KhuyetMai]) VALUES (601, N'Cà chua', 902, 501, 401, 100, CAST(N'2022-01-01T00:00:00.000' AS DateTime), CAST(N'2022-01-10T00:00:00.000' AS DateTime), CAST(N'2022-01-02T00:00:00.000' AS DateTime), 9000.0000, 12000.0000, NULL)
INSERT [SANPHAM] ([MaSP], [TenSP], [MaDVT], [MaLSP], [MaNCC], [SoLuong], [NSX], [HSD], [NgayNhap], [GiaNhap], [GiaBan], [KhuyetMai]) VALUES (602, N'Rau mồng tơi', 902, 501, 401, 100, CAST(N'2022-01-01T00:00:00.000' AS DateTime), CAST(N'2022-01-05T00:00:00.000' AS DateTime), CAST(N'2022-01-02T00:00:00.000' AS DateTime), 9000.0000, 12000.0000, NULL)
INSERT [SANPHAM] ([MaSP], [TenSP], [MaDVT], [MaLSP], [MaNCC], [SoLuong], [NSX], [HSD], [NgayNhap], [GiaNhap], [GiaBan], [KhuyetMai]) VALUES (603, N'Dưa hấu', 902, 502, 401, 100, CAST(N'2022-01-01T00:00:00.000' AS DateTime), CAST(N'2022-01-08T00:00:00.000' AS DateTime), CAST(N'2022-01-02T00:00:00.000' AS DateTime), 11000.0000, 15000.0000, NULL)
GO
INSERT [TAIKHOAN] ([TenDangNhap], [MatKhau], [MaNV], [PhanQuyen]) VALUES (N'NV202', N'123457', 202, N'Nhân viên')
INSERT [TAIKHOAN] ([TenDangNhap], [MatKhau], [MaNV], [PhanQuyen]) VALUES (N'NV203', N'123458', 203, N'Nhân viên')
INSERT [TAIKHOAN] ([TenDangNhap], [MatKhau], [MaNV], [PhanQuyen]) VALUES (N'NV204', N'123459', 204, N'Nhân viên')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NHANVIEN__F67C8D0B3B5657CE]    Script Date: 12/14/2023 10:03:07 PM ******/
ALTER TABLE [NHANVIEN] ADD UNIQUE NONCLUSTERED 
(
	[CMND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [CHUCVU] ADD  DEFAULT ((0)) FOR [MaCV]
GO
ALTER TABLE [CHUCVU] ADD  DEFAULT (N'Tên chức vụ') FOR [TenCV]
GO
ALTER TABLE [DONVITINH] ADD  DEFAULT ((0)) FOR [MaDVT]
GO
ALTER TABLE [DONVITINH] ADD  DEFAULT (N'Tên đơn vị tính') FOR [TenDV]
GO
ALTER TABLE [KHACHHANG] ADD  DEFAULT ((0)) FOR [MaKH]
GO
ALTER TABLE [KHACHHANG] ADD  DEFAULT (N'Tên khách hàng') FOR [TenKH]
GO
ALTER TABLE [LOAISANPHAM] ADD  DEFAULT ((0)) FOR [MaLSP]
GO
ALTER TABLE [LOAISANPHAM] ADD  DEFAULT (N'Tên loại sản phẩm') FOR [TenLSP]
GO
ALTER TABLE [NHACUNGCAP] ADD  DEFAULT ((0)) FOR [MaNCC]
GO
ALTER TABLE [NHACUNGCAP] ADD  DEFAULT (N'Tên nhà cung cấp') FOR [TenNCC]
GO
ALTER TABLE [NHANVIEN] ADD  DEFAULT ((0)) FOR [MaNV]
GO
ALTER TABLE [NHANVIEN] ADD  DEFAULT (N'Tên nhân viên') FOR [TenNV]
GO
ALTER TABLE [SANPHAM] ADD  DEFAULT ((0)) FOR [MaSP]
GO
ALTER TABLE [SANPHAM] ADD  DEFAULT (N'Tên sản phẩm') FOR [TenSP]
GO
ALTER TABLE [CT_HD]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [SANPHAM] ([MaSP])
ON DELETE CASCADE
GO
ALTER TABLE [CT_HD]  WITH CHECK ADD FOREIGN KEY([MaHD])
REFERENCES [HD] ([MaHD])
ON DELETE CASCADE
GO
ALTER TABLE [HD]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [KHACHHANG] ([MaKH])
GO
ALTER TABLE [HD]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [NHANVIEN] ([MaNV])
ON DELETE CASCADE
GO
ALTER TABLE [NHANVIEN]  WITH CHECK ADD FOREIGN KEY([MaCV])
REFERENCES [CHUCVU] ([MaCV])
GO
ALTER TABLE [SANPHAM]  WITH CHECK ADD FOREIGN KEY([MaDVT])
REFERENCES [DONVITINH] ([MaDVT])
GO
ALTER TABLE [SANPHAM]  WITH CHECK ADD FOREIGN KEY([MaLSP])
REFERENCES [LOAISANPHAM] ([MaLSP])
GO
ALTER TABLE [SANPHAM]  WITH CHECK ADD FOREIGN KEY([MaNCC])
REFERENCES [NHACUNGCAP] ([MaNCC])
GO
ALTER TABLE [TAIKHOAN]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [NHANVIEN] ([MaNV])
ON DELETE CASCADE
GO
ALTER TABLE [CT_HD]  WITH CHECK ADD CHECK  (([SoLuongBan]>=(1)))
GO
ALTER TABLE [SANPHAM]  WITH CHECK ADD CHECK  (([SoLuong]>=(1)))
GO
USE [master]
GO
